<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style></style>
    <title>Your Ip Address</title>
  </head>
  <body>
    <h2 class="title">Your IP Address</h2>
    <p>IP Address:</p>
  </body>
</html>
